<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Thông tin chi tiết member</title>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <style>
        /* The Modal (background) */
        #edit-table {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 9999; /* Sit on top */
            padding-top: 120px; /* Location of the box */
            padding-left: 385px;
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .swal2-container {
            z-index: 999999999!important;
        }

        /* Modal Content */
        .edit-table-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
            border-radius: 10px;
        }

        #edit{
            background: #428bca;
            border: #357ebd solid 1px;
            border-radius: 3px;
            color: #fff;
            display: inline-block;
            font-size: 14px;
            padding: 8px 15px;
            text-decoration: none;
            text-align: center;
            min-width: 60px;
            position: relative;
            transition: color .1s ease;"
        }
        #edit:hover{
            background: #357ebd;
        }
        #cancel-edit{
            background: #FFFFFF;
            border: rgb(178, 178, 178) solid 1px;
            border-radius: 3px;
            color: #000000;
            display: inline-block;
            font-size: 14px;
            padding: 8px 15px;
            text-decoration: none;
            text-align: center;
            width: 80px;
            position: relative;
            transition: color .1s ease;"
        }
        .ipt {
            width: 187px;
            padding: 0 0.4rem;
            height: 1.93333rem;
            line-height: 1.93333rem;
            border-radius: 0.13333rem;
            border: 0.05333rem solid #faa09d;
        }


    </style>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <%- include('nav') %>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Thông tin</h1>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img
                                            class="profile-user-img img-fluid img-circle"
                                            src="/images/facebook.jpg"
                                            alt="User profile picture" />
                                </div>

                                <h3 class="profile-username text-center">Member...</h3>

                                <p class="text-muted text-center" id="id_user">ID: 0</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Số dư</b> <a class="float-right" id="money">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Tổng nạp</b> <a class="float-right" id="total_money">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Tổng rút</b> <a class="float-right" id="total_withdraw">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Tổng hoa hồng</b> <a class="float-right" id="roses_all">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Hoa hồng hôm nay</b> <a class="float-right" id="roses_today">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F1</b> <a class="float-right" id="f1" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F2</b> <a class="float-right" id="f2" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F3</b> <a class="float-right" id="f3" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F4</b> <a class="float-right" id="f4" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F5</b> <a class="float-right" id="f5" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F6</b> <a class="float-right" id="f6" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F7</b> <a class="float-right" id="f7" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F8</b> <a class="float-right" id="f8" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F9</b> <a class="float-right" id="f9" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>F10</b> <a class="float-right" id="f10" style="cursor: pointer;">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Tổng mời</b> <a class="float-right" id="total_mem">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>IP</b> <a class="float-right" id="ip">157.296.591.22</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Telegram</b>
                                        <a class="float-right" id="telegram" href="Loading...">Loading...</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Người mời</b> <a class="float-right" id="invite">Loading...</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>DAILY</b> <a class="float-right" id="daily">Loading...</a>
                                    </li>
                                </ul>

                                <a href="#" class="btn btn-primary btn-block">
                                    <b style="text-transform: uppercase" id="level">ADMIN</b>
                                </a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- About Me Box -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Thông tin ngân hàng</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <strong>
                                    <i class="fas fa-pencil-alt mr-1"></i>
                                    <span>Tên Ngân Hàng</span>
                                </strong>
                                <input type="text" class="form-control" id="name_bank1" placeholder="Nhập Tên Ngân Hàng" value="">
                                <!-- <p class="text-muted">
                                    <span class="tag tag-danger" id="location"
                                        >Chưa có ngân hàng nào được thêm vào</span
                                    >
                                </p> -->
                                <hr />
                                <strong>
                                    <i class="far fa-file-alt mr-1"></i>
                                    <span>Tên Chủ Tài Khoản</span>
                                </strong>

                                <input type="text" class="form-control" id="name_bank" placeholder="Nhập Tên Tên Chủ Tài Khoản" value="">

                                <hr />

                                <strong>
                                    <i class="fas fa-map-marker-alt mr-1"></i>
                                    <span>Số Tài Khoản</span>
                                </strong>

                                <input type="text" class="form-control" id="stk" placeholder="Nhập Số Tài Khoản" value="">

                                <hr />
                                <strong>
                                    <i class="fas fa-book mr-1"></i>
                                    <span>Thời gian thêm</span>
                                </strong>
                                <p class="text-muted" id="timeAddBank">Chưa có ngân hàng nào được thêm vào</p>

                                <!-- <button id="myBtn" class="btn btn-primary btn-block">
                                    <b style="text-transform: uppercase">EDIT</b>
                                </button> -->
                                <button type="submit" class="btn btn-primary updateBank" style="width: 100%;">EDIT</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9" style="overflow: auto;">
                        <i id="back-btn" class="fa fa-arrow-left" aria-hidden="true" style="width: 30px; height: 30px; font-size: 20px; cursor: pointer; opacity: 0; position: fixed;"></i>
                        <div id="LF1" style="opacity: 0; position: fixed;">
                            <%- include('table/FList.ejs') %>
                        </div>
                        <div id="LF2" style="opacity: 0; position: fixed;">
                            <%- include('table/FList2.ejs') %>
                        </div>
                        <div id="LF3" style="opacity: 0; position: fixed;">
                            <%- include('table/FList3.ejs') %>
                        </div>
                        <div id="LF4" style="opacity: 0; position: fixed;">
                            <%- include('table/FList4.ejs') %>
                        </div>
                        <div id="LF5" style="opacity: 0; position: fixed;">
                            <%- include('table/FList5.ejs') %>
                        </div>

                        <div id="LF6" style="opacity: 0; position: fixed;">
                            <%- include('table/FList6.ejs') %>
                        </div>

                        <div id="LF7" style="opacity: 0; position: fixed;">
                            <%- include('table/FList7.ejs') %>
                        </div>

                        <div id="LF8" style="opacity: 0; position: fixed;">
                            <%- include('table/FList8.ejs') %>
                        </div>

                        <div id="LF9" style="opacity: 0; position: fixed;">
                            <%- include('table/FList9.ejs') %>
                        </div>
                        <div id="LF10" style="opacity: 0; position: fixed;">
                            <%- include('table/FList10.ejs') %>
                        </div>



                        <div id="tables">
                            <!-- Table Recharge -->
                            <%- include('table/listRecharge.ejs') %>
                            <!-- END TABLE -->
                            <!-- Table Withdraw -->
                            <%- include('table/listWithdraw.ejs') %>
                            <!-- END TABLE -->
                            <!-- Table Withdraw -->
                            <%- include('table/listRedenvelope.ejs') %>
                            <!-- END TABLE -->
                            <!-- Table Withdraw -->
                            <%- include('table/listBet.ejs') %>
                            <!-- END TABLE -->
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
        </section>
    </div>
    <body>
    <div class="edit-table" id="edit-table">
            <div class="edit-table-content">
                <div class="edit-table-close">
                    <div style="display: flex;justify-content: space-between;flex-direction: column">
                        <div>Chỉnh sửa thông tin đặt cược</div>
                        <div id="id-wingo" style="display: none"></div>
                        <div style="margin-top: 20px;display: flex;justify-content: space-between">
                            <span>Giai đoạn</span>
                            <input type="text" placeholder="Giai đoạn" name="giaidoan" id="giaidoanwingo"  />
                        </div>
                        <div style="margin-top: 20px;display: flex;justify-content: space-between">
                            <span>Tiền Cược</span>
                            <input type="text" placeholder="Tiền Cược" name="tiencuoc" id="tiencuocwingo"  />
                        </div>
                        <div style="margin-top: 20px;display: flex;justify-content: space-between">
                            <span>Loại</span>
                            <input type="text" placeholder="Loại" name="typeGame" id="typeGameWingo"  />
                        </div>
                        <div style="margin-top: 20px;display: flex;justify-content: space-between">
                            <span>Thắng/Thua</span>
                            <select  class="ipt iptWingo" id="resultWingo">
                                <option value="1" >win</option>
                                <option value="2" >loss</option>
                            </select>
                        </div>
                        <div style="margin-top: 20px;display: flex;justify-content: space-between">
                            <span>Chọn</span>
                            <select  class="ipt" id="sltWingo">
                                <option value="l" >l</option>
                                <option value="n" >n</option>
                                <option value="t" >t</option>
                                <option value="x" >x</option>
                                <option value="d" >d</option>
                                <option value="0" >0</option>
                                <option value="1" >1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                                <option value="9" >9</option>
                            </select>
                        </div>
                        <div style="margin-top: 20px;display: flex;justify-content: space-between">
                            <span>Kết quả</span>
                            <input type="text" placeholder="Kết quả" name="result1" id="result1Wingo" disabled />
                        </div>
                        <div style="margin-top: 20px;display: flex;justify-content: space-between">
                            <span>Thời gian</span>
                            <input type="text" placeholder="Thời gian" name="time" id="timeWingo" disabled />
                        </div>
                        <div style="margin-top: 20px;display: flex;justify-content: center">
                            <button class="edit-wingo" id="edit" type="submit" >Xác nhận</button>
                            <button style="margin-left: 20px" id="cancel-edit" class="cancel-edit">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="edit-table-k5d" id="edit-table">
        <div class="edit-table-content">
            <div class="edit-table-close">
                <div style="display: flex;justify-content: space-between;flex-direction: column">
                    <div>Chỉnh sửa thông tin đặt cược</div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Giai đoạn</span>
                        <div id="id-k5d" style="display: none"></div>
                        <input type="text" placeholder="Giai đoạn" name="giaidoan" id="giaidoank5d"  />
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Tiền Cược</span>
                        <input type="text" placeholder="Tiền Cược" name="tiencuoc" id="tiencuock5d" />
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Loại</span>
                        <select  class="ipt " id="typeGamek5d">
                            <option value="1" >1 Phút</option>
                            <option value="3" >3 Phút</option>
                            <option value="5" >5 Phút</option>
                            <option value="10" >10 Phút</option>
                        </select>
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Vùng cược</span>
                        <select  class="ipt" id="sltVungCuocK5D">
                            <option value="a" >A</option>
                            <option value="b" >B</option>
                            <option value="c" >C</option>
                            <option value="d" >D</option>
                            <option value="e" >E</option>
                            <option value="total" >Tổng</option>
                        </select>
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Thắng/Thua</span>
                        <select  class="ipt iptk3" id="resultk5d">
                            <option value="1" >win</option>
                            <option value="2" >loss</option>
                        </select>
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Chọn</span>
                        <select  class="ipt" id="sltK5D">
                            <option value="b" >Lớn</option>
                            <option value="s" >Nhỏ</option>
                            <option value="c" >Chẵn</option>
                            <option value="l" >Lẻ</option>
                            <option value="0" >0</option>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                            <option value="6" >6</option>
                            <option value="7" >7</option>
                            <option value="8" >8</option>
                            <option value="9" >9</option>
                        </select>
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Kết quả</span>
                        <input type="text" placeholder="Kết quả" name="result1" id="result1k5d" disabled />
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Thời gian</span>
                        <input type="text" placeholder="Thời gian" name="time" id="timek5d" disabled />
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: center">
                        <button id="edit" class="edit-k5d" type="submit" >Xác nhận</button>
                        <button style="margin-left: 20px" id="cancel-edit" class="cancel-edit-k5d">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="edit-table-k3" id="edit-table">
        <div class="edit-table-content">
            <div class="edit-table-close">
                <div style="display: flex;justify-content: space-between;flex-direction: column">
                    <div>Chỉnh sửa thông tin đặt cược</div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <div id="id-k3" style="display: none"></div>
                        <span>Giai đoạn</span>
                        <input type="text" placeholder="Giai đoạn" name="giaidoan" id="giaidoank3" />
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Tiền Cược</span>
                        <input type="text" placeholder="Tiền Cược" name="tiencuoc" id="tiencuock3" />
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Loại</span>
                        <select  class="ipt " id="typeGamek3">
                            <option value="1" >1 Phút</option>
                            <option value="3" >3 Phút</option>
                            <option value="5" >5 Phút</option>
                            <option value="10" >10 Phút</option>
                        </select>
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Thắng/Thua</span>
                        <select  class="ipt iptk3" id="resultk3">
                            <option value="1" >win</option>
                            <option value="2" >loss</option>
                        </select>
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Chọn</span>
                        <input type="text" placeholder="Chọn" name="typeGame" id="chosek3"  />
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Kết quả</span>
                        <input type="text" placeholder="Kết quả" name="result1" id="result1k3" disabled />
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: space-between">
                        <span>Thời gian</span>
                        <input type="text" placeholder="Thời gian" name="time" id="timek3" disabled />
                    </div>
                    <div style="margin-top: 20px;display: flex;justify-content: center">
                        <button id="edit" class="edit-k3" type="submit" >Xác nhận</button>
                        <button style="margin-left: 20px" id="cancel-edit" class="cancel-edit-k3">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="mymodal" style="bottom: 0; display: none; left: 0; right: 0; top: 0; z-index: 1">
        <div style="background-color: rgba(0, 0, 0, 0.4); height: 100%; position: absolute; width: 100%">
            <div
                style="
                    background-color: white;
                    border-radius: 5px;
                    margin: auto;
                    position: relative;
                    width: 400px;
                ">
                <div
                    style="
                        margin-top: -400px;
                        background-color: #000000;
                        text-align: center;
                        border-radius: 10px;
                        padding: 30px;
                    ">
                    <div style="display: block">
                        <div style="font-weight: 700;  color: #FFFFFF">Sửa thông tin</div>
                        <input
                            style="margin-top: 20px; width: 300px"
                            type="text"
                            placeholder="Tên ngân hàng"
                            name="name_bank1"
                            id="name_bank1" />
                        <input
                            style="margin-top: 20px; width: 300px"
                            type="text"
                            placeholder="Tên Chủ Tài Khoản"
                            name="name_bank"
                            id="name_bank" />
                        <input
                            style="margin-top: 20px; width: 300px"
                            type="text"
                            placeholder="Số tài khoản"
                            name="stk_edit"
                            id="stk_edit" />
                        <div style="display: flex; align-items: center; justify-content: center">
                            <button
                                style="margin-top: 20px; margin-right: 20px"
                                class="edit-user"
                                type="submit">
                                Xác nhận
                            </button>
                            <button id="cancle" style="margin-top: 20px; margin-right: 20px">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script>
    function formateT(params) {
        let result = params < 10 ? "0" + params : params;
        return result;
    }

    function timerJoin(params = "") {
        let date = "";
        if (params) {
            date = new Date(Number(params));
        } else {
            date = Date.now();
            date = new Date(Number(date));
        }
        let years = formateT(date.getFullYear());
        let months = formateT(date.getMonth() + 1);
        let days = formateT(date.getDate());
        let weeks = formateT(date.getDay());

        let hours = formateT(date.getHours());
        let minutes = formateT(date.getMinutes());
        let seconds = formateT(date.getSeconds());
        // return years + '-' + months + '-' + days + ' ' + hours + '-' + minutes + '-' + seconds;
        return years + " - " + months + " - " + days;
    }
</script>
<script>

    let url = window.location.pathname;
    let phones = url.split("/");
    let phone = phones[phones.length - 1];

    $.ajax({
        type: "POST",
        url: "/api/webapi/admin/member/info",
        data: {
            phone: phone,
        },
        dataType: "json",
        success: function (response) {
            if (response.status === false) return false;
            let user = response.datas[0];
            console.log('res',response);
            // user
            $(".profile-username").text(user.name_user);
            $("#telegram").text(response.telegram.telegram);
            $("#telegram").attr("href", response.telegram.telegram);
            $("#id_user").text("ID: " + user.id_user);
            $("#money").text(user.money + ".0");
            $("#roses_all").text(user.roses_f + user.roses_f1 + ".0");
            $("#roses_today").text(user.roses_today + ".0");
            $("#invite").text(response.ng_moi.phone);
            $("#daily").text(response.daily);

            // $("#f1").text(response.f1 + " thành viên");
            // $("#f2").text(response.f2 + " thành viên");
            // $("#f3").text(response.f3 + " thành viên");
            // $("#f4").text(response.f4 + " thành viên");
            // $("#total_mem").text(response.f1 + response.f2 + response.f3 + response.f4 + response.f1 + response.f1 + response.f1 + response.f1 + response.f1 + response.f1 );
            $("#ip").text(user.ip_address);
            $("#level").text(user.level == 1 ? "ADMIN" : user.level == 2 ? "CTV" : "USER");

            $("#total_money").text(response.total_r[0].total ? response.total_r[0].total + ".0" : "0.0");
            $("#total_withdraw").text(response.total_w[0].total ? response.total_w[0].total + ".0" : "0.0");

            // bank
            if (response.bank_user[0]) {
                $("#name").text(response.bank_user[0].name_user);
                $("#name_bank1").val(response.bank_user[0].name_bank);
                $("#name_bank").val(response.bank_user[0].name_user);
                $("#stk").val(response.bank_user[0].stk);
                $("#stk").text(response.bank_user[0].stk);
                $("#bank_name").text(response.bank_user[0].bank_name);
                $("#location").text(response.bank_user[0].name_bank);
                $("#timeAddBank").text(timerJoin(response.bank_user[0].time));
            }
        },
    });

    let f_pageno = 1;
    let f_limit = 30;
    let total_page = 1;

    $.ajax({
        type: "POST",
        url: "/api/webapi/admin/listF1",
        data: {
            phone: phone,
            typeid: "1",
            pageno: f_pageno,
            selectedDate: selectedDate,
            limit: f_limit,
            language: "vi",
        },
        dataType: "json",
        success: function (response) {
            if (response.status === false) return false;
            console.log('res1asdadasd',response);
            $("#f1").text(response.f1sTotal.length + " thành viên");
            $("#f2").text(response.f2sTotal.length + " thành viên");
            $("#f3").text(response.f3sTotal.length + " thành viên");
            $("#f4").text(response.f4sTotal.length + " thành viên");
            $("#f5").text(response.f5sTotal.length + " thành viên");
            $("#f6").text(response.f6sTotal.length + " thành viên");
            $("#f7").text(response.f7sTotal.length + " thành viên");
            $("#f8").text(response.f8sTotal.length + " thành viên");
            $("#f9").text(response.f9sTotal.length + " thành viên");
            $("#f10").text(response.f10sTotal.length + " thành viên");
            $("#total_mem").text(response.f1sTotal.length + response.f2sTotal.length + response.f3sTotal.length + response.f4sTotal.length  + response.f5sTotal.length + response.f6sTotal.length + response.f7sTotal.length + response.f8sTotal.length + response.f9sTotal.length + response.f10sTotal.length );
        },
    });
</script>
<script>
    function alertMess(text) {
        let length = $(".alert-toast .msg").length;
        if (length == 0) {
            $(".alert-toast").append(
                `
                    <div data-v-1dcba851="" class="msg">
                        <div data-v-1dcba851="" class="msg-content" style=""> ${text} </div>
                    </div>
                    `
            );
            setTimeout(() => {
                $(".msg").fadeOut();
                setTimeout(() => {
                    $(".alert-toast .msg").remove();
                }, 100);
            }, 1500);
        }
    }
</script>
<!--Withdraw-->
<script>
    const RenderWithdraw = (datas) => {
        if (datas.length == 0) {
            $("#list-withdraw").html(`
                    <tr class="text-center">
                    <td colspan="7">không có dữ liệu...</td>
                    </tr>
                `);
            return;
        }
        let html = "";
        datas.map((data) => {
            html += `
                <tr class="text-center" style="">
                    <td style="color: #e74c3c;font-weight: 600;min-width: 210px">${data.id_order}</td>
                    <td><b style="color: #3498db">${formatMoney(data.money)}</b></td>
                    <td style="min-width: 210px;"><b>${data.name_bank}</b></td>
                    <td class="project-state"><span class="badge badge-${data.status == "1" ? "success" : "danger"}">${
                data.status == "1" ? "success" : "closed"
            }</span></td>
                    <td style="min-width: 210px;"><b>${data.today}</b></td>
                </tr>
                `;
        });
        $("#list-withdraw").html(html);
    };

    var pageno = 0;
    var limit = 15;
    var page = 1;
    $.ajax({
        type: "POST",
        url: "/admin/member/listWithdraw/<%=phone%>",
        data: {
            typeid: "1",
            pageno: pageno,
            limit: limit,
            language: "vi",
        },
        dataType: "json",
        success: function (response) {
            $("#text-withdraw").text(page + " / " + response.page_total);
            if (response.status === true) return RenderWithdraw(response.datas);
        },
    });

    $("#nextWithdraw").click(function (e) {
        pageno += limit;
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/admin/member/listWithdraw/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno,
                limit: limit,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                if (response.datas.length == 0) {
                    $("#nextRecharge").addClass("block-click");
                    return (pageno -= limit);
                }
                $("#text-withdraw").text(++page + " / " + response.page_total);
                if (response.status === true) return RenderWithdraw(response.datas);
            },
        });
    });

    $("#previousWithdraw").click(function (e) {
        e.preventDefault();
        $("#nextWithdraw").removeClass("block-click");
        pageno -= limit;
        if (pageno < 0) return (pageno = 0);
        $.ajax({
            type: "POST",
            url: "/admin/member/listWithdraw/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno,
                limit: limit,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                $("#text-withdraw").text(--page + " / " + response.page_total);
                if (response.status === true) return RenderWithdraw(response.datas);
            },
        });
    });
</script>
<!--Withdraw-->

<!--Recharge-->
<script>
    const RenderRecharge = (datas) => {
        if (datas.length == 0) {
            $("#list-recharge").html(`
                    <tr class="text-center">
                    <td colspan="7">không có dữ liệu...</td>
                    </tr>
                `);
            return;
        }
        let html = "";
        datas.map((data) => {
            html += `
                <tr class="text-center" style="">
                    <td style="color: #e74c3c;font-weight: 600;min-width: 210px">${data.transaction_id}</td>
                    <td><b style="color: #3498db">${formatMoney(data.money)}</b></td>
                    <td style="min-width: 210px;"><b>${(data.type == 'bank') ? '<b style="color: #3498db">BANKING</b>' :  (data.type == 'Momo') ? '<b style="color: #a50064">Momo</b>' : (data.type == 'zalo') ? '<b style="color: #9b3ffd">ZaloPay</b>' : (data.type == 'vtpay') ? '<b style="color: #dc0101">ViettelPay</b>' : '<b style="color: #000b16">QR-Code</b>'}</b></td>
                    <td class="project-state"><span class="badge badge-${data.status == "1" ? "success" : "warning"}">${
                data.status == "1" ? "success" : "closed"
            }</span></td>
                    <td style="min-width: 210px;"><b>${data.today}</b></td>
                </tr>
                `;
        });
        $("#list-recharge").html(html);
    };

    var pageno1 = 0;
    var limit1 = 15;
    var page1 = 1;
    $.ajax({
        type: "POST",
        url: "/admin/member/listRecharge/<%=phone%>",
        data: {
            typeid: "1",
            pageno: pageno1,
            limit: limit1,
            language: "vi",
        },
        dataType: "json",
        success: function (response) {
            $("#text-recharge").text(page1 + " / " + response.page_total);
            if (response.status === true) return RenderRecharge(response.datas);
        },
    });

    $("#nextRecharge").click(function (e) {
        pageno1 += limit1;
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/admin/member/listRecharge/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno1,
                limit: limit1,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                if (response.datas.length == 0) {
                    $("#nextRecharge").addClass("block-click");
                    return (pageno1 -= limit1);
                }
                $("#text-recharge").text(++page1 + " / " + response.page_total);
                if (response.status === true) return RenderRecharge(response.datas);
            },
        });
    });

    $("#previousRecharge").click(function (e) {
        e.preventDefault();
        $("#nextRecharge").removeClass("block-click");
        pageno1 -= limit1;
        if (pageno1 < 0) return (pageno1 = 0);
        $.ajax({
            type: "POST",
            url: "/admin/member/listRecharge/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno1,
                limit: limit1,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                $("#text-recharge").text(--page1 + " / " + response.page_total);
                if (response.status === true) return RenderRecharge(response.datas);
            },
        });
    });
</script>
<!--Recharge-->

<!--Redenvelope-->
<script>
    const RenderRedenvelopes = (datas) => {
        if (datas.length == 0) {
            $("#list-redenvelope").html(`
                    <tr class="text-center">
                    <td colspan="7">không có dữ liệu...</td>
                    </tr>
                `);
            return;
        }
        let html = "";
        datas.map((data) => {
            html += `
                <tr class="text-center" style="">
                    <td style="color: #e74c3c;font-weight: 600;min-width: 210px">${data.phone}</td>
                    <td><b style="color: #3498db">${formatMoney(data.money)}</b></td>
                    <td style="min-width: 210px;"><b>${data.id_redenvelops}</b></td>
                    <td class="project-state"><span class="badge badge-success">success</span></td>
                    <td style="min-width: 210px;"><b>${timerJoin(data.time)}</b></td>
                </tr>
                `;
        });
        $("#list-redenvelope").html(html);
    };

    var pageno2 = 0;
    var limit2 = 15;
    var page2 = 1;
    $.ajax({
        type: "POST",
        url: "/admin/member/redenvelope/<%=phone%>",
        data: {
            typeid: "1",
            pageno: pageno2,
            limit: limit2,
            language: "vi",
        },
        dataType: "json",
        success: function (response) {
            $("#text-redenvelope").text(page2 + " / " + response.page_total);
            let total = 0;
            let amount = 0;
            for (let i = 0; i < response.datas.length; i++) {
                total += response.datas[i].money;
                amount += 1;
            }
            $("#totlaide").text(total + " đ " + " / " + amount + " Lixi");
            if (response.status === true) return RenderRedenvelopes(response.datas);
        },
    });

    $("#nextRedenvelope").click(function (e) {
        pageno2 += limit2;
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/admin/member/redenvelope/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno2,
                limit: limit2,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                if (response.datas.length == 0) {
                    $("#nextRedenvelope").addClass("block-click");
                    return (pageno2 -= limit2);
                }
                $("#text-redenvelope").text(++page2 + " / " + response.page_total);
                if (response.status === true) return RenderRedenvelopes(response.datas);
            },
        });
    });

    $("#previousRedenvelope").click(function (e) {
        e.preventDefault();
        $("#nextRedenvelope").removeClass("block-click");
        pageno2 -= limit2;
        if (pageno2 < 0) return (pageno2 = 0);
        $.ajax({
            type: "POST",
            url: "/admin/member/redenvelope/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno2,
                limit: limit2,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                $("#text-redenvelope").text(--page2 + " / " + response.page_total);
                if (response.status === true) return RenderRedenvelopes(response.datas);
            },
        });
    });
</script>
<!--Redenvelope-->

<!-- BET-->
<script>
    const RenderBet = (datas) => {
        if (datas.length == 0) {
            $("#list-bet").html(`
                    <tr class="text-center">
                    <td colspan="7">không có dữ liệu...</td>
                    </tr>
                `);
            return;
        }
        let html = "";
        datas.map((data) => {
            html += `
                <tr class="text-center" style="">
                    <td style="display: none" id="id_cuoc" value = "${data.id}" >${data.id}</td>
                    <td style="color: #e74c3c;font-weight: 600;min-width: 210px">${data.stage}</td>
                    <td><b style="color: #3498db">${data.status == 1 ? "+" : "-"} ${formatMoney(data.money)}</b></td>
                    <td style="min-width: 210px;"><b>${data.game.toUpperCase()}</b></td>
                    <td class="project-state"><span class="badge badge-${data.status == "1" ? "success" : "danger"}">${
                data.status == "1" ? "win" : "loss"
            }</span></td>
                    <td> ${data.bet}</td>
                    <td>${data.result} - ${
                data.result == 0
                    ? "Đỏ tím"
                    : data.result == 5
                        ? "Xanh tím"
                        : data.result % 2 == 0
                            ? "Đỏ"
                            : "Xanh"
            } - ${
                data.amount < 5 ? "Nhỏ" : "Lớn"
            }</td>
                    <!--<td style="min-width: 210px;"><b>${data.today}</b></td>-->
                    <td>${new Date(parseInt(data.time)).toLocaleString()}</td>
                    <td><i class="fas fa-pencil-alt btn-edit"></i> </td>
                </tr>
                `;
        });
        $("#list-bet").html(html);
        $('.btn-edit').click(function (e) {
            console.log('click');
            var valueID= $(this).closest('.text-center').find("#id_cuoc").attr('value');
            console.log('value',valueID)
            $.ajax({
                type: "POST",
                url: "/admin/member/getWingoById",
                data: {
                    phone: phone,
                    id :valueID
                },
                dataType: "json",
                success: function (response) {
                    $('.edit-table').fadeIn();
                    let data = response.data;
                    console.log('dataaaa',data);
                    $("#id-wingo").val(data.id);
                    $("#giaidoanwingo").val(data.stage);
                    $("#tiencuocwingo").val(data.money);
                    $("#typeGameWingo").val(data.game);
                    $("#resultWingo").val(data.status);
                    $("#result1Wingo").val(`${data.result} - ${
                data.result == 0
                    ? "Đỏ tím"
                    : data.result == 5
                        ? "Xanh tím"
                        : data.result % 2 == 0
                            ? "Đỏ"
                            : "Xanh"
            } - ${
                data.amount < 5 ? "Nhỏ" : "Lớn"
            }`);
                    $("#sltWingo").val(data.bet);
                    $("#timeWingo").val(`${new Date(parseInt(data.time)).toLocaleString()}`);
                },
            });

        });
    };
    $('.cancel-edit').click(function (e) {
        e.preventDefault();
        $('.edit-table').fadeOut();
    });
    $('.edit-wingo').click(function (e) {
        e.preventDefault();
        let betWingo = $("#sltWingo").val();
        $("#sltWingo").change(function() {
            betWingo = $(this).val();
        });
        let stageWingo = $("#giaidoanwingo").val();
        $("#giaidoanwingo").change(function() {
            stageWingo = $(this).val();
        });
        let resultWingo = $("#resultWingo").val();
        $("#resultWingo").change(function() {
            resultWingo = $(this).val();
        });
        let moneyWingo = $("#tiencuocwingo").val();
        $("#tiencuocwingo").change(function() {
            moneyWingo = $(this).val();
        });
        let typegameWingo = $("#typeGameWingo").val();
        $("#typeGameWingo").change(function() {
            typegameWingo = $(this).val();
        });
        var valueID= $(this).closest('.edit-table-close').find("#id-wingo").val();
        if (typegameWingo !== '' && moneyWingo !== '' && stageWingo !== '') {
            $.ajax({
                type: "POST",
                url: "/admin/member/updateWingoById",
                data: {
                    bet: betWingo,
                    status: resultWingo,
                    money: moneyWingo,
                    game: typegameWingo,
                    id :valueID,
                    stage: stageWingo,
                },
                dataType: "json",
                success: function (response) {
                    location.reload();
                },
            });
        } else {
            Swal.fire(
                'Vui lòng nhập!',
            )
        }

    });

    const RenderBet2 = (datas) => {
        if (datas.length == 0) {
            $("#list-bet-k3").html(`
                    <tr class="text-center">
                    <td colspan="7">không có dữ liệu...</td>
                    </tr>
                `);
            return;
        }
        let html = "";
        datas.map((data) => {
            html += `
                <tr class="text-center" style="">
                    <td style="display: none" id="id_cuoc_k3" value = "${data.id}" >${data.id}</td>
                    <td style="color: #e74c3c;font-weight: 600;min-width: 210px">${data.stage}</td>
                    <td><b style="color: #3498db">${data.status == 1 ? "+" : "-"} ${formatMoney(data.money)}</b></td>
                    <td style="min-width: 210px;"><b>${data.game.toUpperCase()} phút</b></td>
                    <td class="project-state"><span class="badge badge-${data.status == "1" ? "success" : "danger"}">${
                data.status == "1" ? "win" : "loss"
            }</span></td>
                    <td> ${data.bet}</td>
                    <td>${data.result}</td>
                    <!--<td style="min-width: 210px;"><b>${data.today}</b></td>-->
                    <td>${new Date(parseInt(data.time)).toLocaleString()}</td>
                    <td><i class="fas fa-pencil-alt btn-edit-k3"></i> </td>
                </tr>
                `;
        });
        $("#list-bet-k3").html(html);
        $('.btn-edit-k3').click(function (e) {
            console.log('click');
            var valueID= $(this).closest('.text-center').find("#id_cuoc_k3").attr('value');
            console.log('value',valueID)
            $.ajax({
                type: "POST",
                url: "/admin/member/getK3ById",
                data: {
                    phone: phone,
                    id :valueID
                },
                dataType: "json",
                success: function (response) {
                    $('.edit-table-k3').fadeIn();
                    let data = response.data;
                    console.log('dataaaa',data);
                    $("#id-k3").val(data.id);
                    $("#giaidoank3").val(data.stage);
                    $("#tiencuock3").val(data.money);
                    $("#typeGamek3").val(data.game);
                    $("#resultk3").val(data.status);
                    $("#result1k3").val(data.result);
                    $("#chosek3").val(data.bet);
                    $("#timek3").val(`${new Date(parseInt(data.time)).toLocaleString()}`);
                },
            });
        });
    };
    $('.cancel-edit-k3').click(function (e) {
        e.preventDefault();
        $('.edit-table-k3').fadeOut();
    });
    $('.edit-k3').click(function (e) {
        e.preventDefault();
        let betK3 = $("#chosek3").val();
        $("#chosek3").change(function() {
            betK3 = $(this).val();
        });
        let stagek3 = $("#giaidoank3").val();
        $("#giaidoank3").change(function() {
            stagek3 = $(this).val();
        });
        let resultk3 = $("#resultk3").val();
        $("#resultk3").change(function() {
            resultk3 = $(this).val();
        });
        let moneyk3 = $("#tiencuock3").val();
        $("#tiencuock3").change(function() {
            moneyk3 = $(this).val();
        });
        let typegamek3 = $("#typeGamek3").val();
        $("#typeGamek3").change(function() {
            typegamek3 = $(this).val();
        });
        var valueID= $(this).closest('.edit-table-close').find("#id-k3").val()
        if (betK3 !== "" && moneyk3 !== "" && typegamek3 !== '' && stagek3 !== '') {
            $.ajax({
                type: "POST",
                url: "/admin/member/updateK3ById",
                data: {
                    bet: betK3,
                    status: resultk3,
                    money: moneyk3,
                    game: typegamek3,
                    id :valueID,
                    stage: stagek3,
                },
                dataType: "json",
                success: function (response) {
                    location.reload();
                },
            });
        } else
        {
            Swal.fire(
                'Vui lòng nhập!',
            )
        }

    });

    const RenderBet3 = (datas) => {
        if (datas.length == 0) {
            $("#list-bet-k5").html(`
                    <tr class="text-center">
                    <td colspan="7">không có dữ liệu...</td>
                    </tr>
                `);
            return;
        }

        let html = "";
        datas.map((data) => {
            console.log('adada',datas)
            html += `
                <tr class="text-center" style="">
                    <td style="display: none" id="id_cuoc_k5d" value = "${data.id}" >${data.id}</td>
                    <td style="color: #e74c3c;font-weight: 600;min-width: 210px">${data.stage}</td>
                    <td><b style="color: #3498db">${data.status == 1 ? "+" : "-"} ${formatMoney(data.money)}</b></td>
                    <td style="min-width: 100px;"><b>${data.game} phút</b></td>
                    <td style="color: #e74c3c;font-weight: 600;">${data.join_bet.toUpperCase() === 'TOTAL' ? 'Tổng' : data.join_bet.toUpperCase() }</td>
                    <td class="project-state"><span class="badge badge-${data.status == "1" ? "success" : "danger"}">${
                data.status == "1" ? "win" : "loss"
            }</span></td>
                    <td> ${data.bet === 'b' ? 'Lớn': data.bet === 's' ? 'Nhỏ' :
                    data.bet === 'c' ? 'Chẵn' : data.bet === 'l' ?
                        'Lẻ' : data.bet}</td>
                    <td>${data.result}</td>
                    <!--<td style="min-width: 210px;"><b>${data.today}</b></td>-->
                    <td>${new Date(parseInt(data.time)).toLocaleString()}</td>
                    <td><i class="fas fa-pencil-alt btn-edit-k5d"></i> </td>
                </tr>
                `;
        });
        $("#list-bet-k5").html(html);
        $('.btn-edit-k5d').click(function (e) {
            console.log('click');
            var valueID= $(this).closest('.text-center').find("#id_cuoc_k5d").attr('value');
            console.log('value',valueID)
            $.ajax({
                type: "POST",
                url: "/admin/member/get5dById",
                data: {
                    phone: phone,
                    id :valueID
                },
                dataType: "json",
                success: function (response) {
                    $('.edit-table-k5d').fadeIn();
                    let data = response.data;
                    $("#id-k5d").val(data.id);
                    $("#giaidoank5d").val(data.stage);
                    $("#tiencuock5d").val(data.money);
                    $("#typeGamek5d").val(data.game);
                    $("#resultk5d").val(data.status);
                    $("#result1k5d").val(data.result);
                    $("#sltVungCuocK5D").val(data.join_bet);
                    $("#sltK5D").val(data.bet);
                    $("#timek5d").val(`${new Date(parseInt(data.time)).toLocaleString()}`);
                },
            });

        });
    };

    $('.cancel-edit-k5d').click(function (e) {
        e.preventDefault();
        $('.edit-table-k5d').fadeOut();
    });


    $('.edit-k5d').click(function (e) {
        e.preventDefault();
        var valueID= $(this).closest('.edit-table-close').find("#id-k5d").val();
        let betK5d = $("#sltK5D").val();;
        $("#sltK5D").change(function() {
            betK5d = $(this).val();
        });
        let stagek5d = $("#giaidoank5d").val();
        $("#giaidoank5d").change(function() {
            stagek5d = $(this).val();
        });
        let betK5dVungcuoc = $("#sltVungCuocK5D").val();
        $("#sltVungCuocK5D").change(function() {
            betK5dVungcuoc = $(this).val();
        });
        let resultk5d = $("#resultk5d").val();
        $("#resultk5d").change(function() {
            resultk5d = $(this).val();
        });
        let moneyk5d = $("#tiencuock5d").val();
        $("#tiencuock5d").change(function() {
            moneyk5d = $(this).val();
        });
        let typegamek5d = $("#typeGamek5d").val();
        $("#typeGamek5d").change(function() {
            typegamek5d = $(this).val();
        });
        if (betK5d !== "" && moneyk5d !== "" && typegamek5d !== '' && stagek5d !== '' ) {
            $.ajax({
                type: "POST",
                url: "/admin/member/update5dById",
                data: {
                    joinBet: betK5dVungcuoc,
                    bet: betK5d,
                    status : resultk5d,
                    game: typegamek5d,
                    money: moneyk5d,
                    id :valueID,
                    stage: stagek5d,
                },
                dataType: "json",
                success: function (response) {
                    location.reload();
                },
            });
        }
         else
        {
            Swal.fire(
                'Vui lòng nhập!',
            )
        }
    });

    var pageno3 = 0;
    var limit3 =10;
    var page3 = 1;
    $.ajax({
        type: "POST",
        url: "/admin/member/bet/<%=phone%>",
        data: {
            typeid: "1",
            pageno: pageno3,
            limit: limit3,
            language: "vi",
        },
        dataType: "json",
        success: function (response) {
            $("#text-bet").text(page3 + " / " + response.page_total);
            if (response.status === true) return RenderBet(response.datas);
        },
    });
    var pageno2 = 0;
    var page2 = 1;
    $.ajax({
        type: "POST",
        url: "/admin/member/betk3/<%=phone%>",
        data: {
            typeid: "1",
            pageno: pageno2,
            limit: limit3,
            language: "vi",
        },
        dataType: "json",
        success: function (response) {
            $("#text-bet-k3").text(page2 + " / " + response.page_total);
            if (response.status === true) return RenderBet2(response.datas);
        },
    });

    var pageno = 0;
    var page = 1;
    $.ajax({
        type: "POST",
        url: "/admin/member/betk5/<%=phone%>",
        data: {
            typeid: "1",
            pageno: pageno,
            limit: limit3,
            language: "vi",
        },
        dataType: "json",
        success: function (response) {
            $("#text-bet-k5").text(page + " / " + response.page_total);
            if (response.status === true) return RenderBet3(response.datas);
        },
    });

    $("#nextBet").click(function (e) {
        pageno3 += limit3;
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/admin/member/bet/<%=phone%>",
                    data: {
                        typeid: "1",
                        pageno: pageno3,
                        limit: limit3,
                        language: "vi",
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.datas.length == 0) {
                            $("#nextBet").addClass("block-click");
                            return (pageno3 -= limit3);
                        }
                        $("#text-bet").text(++page3 + " / " + response.page_total);
                        if (response.status === true) return RenderBet(response.datas);
                    },
                });
    });

    $("#previousBet").click(function (e) {
        e.preventDefault();
        $("#nextBet").removeClass("block-click");
        pageno3 -= limit3;
        if (pageno3 < 0) return (pageno3 = 0);
        $.ajax({
            type: "POST",
            url: "/admin/member/bet/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno3,
                limit: limit3,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                $("#text-bet").text(--page3 + " / " + response.page_total);
                if (response.status === true) return RenderBet(response.datas);
            },
        });
    });
    $("#nextBetk5").click(function (e) {
        pageno += limit3;
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/admin/member/betk5/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno,
                limit: limit3,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                if (response.datas.length == 0) {
                    $("#nextBetK5").addClass("block-click");
                    return (pageno3 -= limit3);
                }
                $("#text-bet-k5").text(++page + " / " + response.page_total);
                if (response.status === true) return RenderBet3(response.datas);
            },
        });
    });

    $("#previousBetk5").click(function (e) {
        e.preventDefault();
        $("#nextBetK5").removeClass("block-click");
        pageno -= limit3;
        if (pageno < 0) return (pageno = 0);
        $.ajax({
            type: "POST",
            url: "/admin/member/betk5/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno,
                limit: limit3,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                $("#text-bet-k5").text(--page    + " / " + response.page_total);
                if (response.status === true) return RenderBet3(response.datas);
            },
        });
    });
    $("#nextBetk3").click(function (e) {
        pageno2 += limit3;
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/admin/member/betk3/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno2,
                limit: limit3,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                if (response.datas.length == 0) {
                    $("#nextBetK3").addClass("block-click");
                    return (page2 -= limit3);
                }
                $("#text-bet-k3").text(++page2 + " / " + response.page_total);
                if (response.status === true) return RenderBet2(response.datas);
            },
        });
    });

    $("#previousBetk3").click(function (e) {
        e.preventDefault();
        $("#nextBet").removeClass("block-click");
        pageno2 -= limit3;
        if (pageno2 < 0) return (pageno2 = 0);
        $.ajax({
            type: "POST",
            url: "/admin/member/betk3/<%=phone%>",
            data: {
                typeid: "1",
                pageno: pageno2,
                limit: limit3,
                language: "vi",
            },
            dataType: "json",
            success: function (response) {
                $("#text-bet-k3").text(--page2 + " / " + response.page_total);
                if (response.status === true) return RenderBet2(response.datas);
            },
        });
    });
</script>
<!-- BET-->
<script>
    $('.updateBank').click(function(e) {
        e.preventDefault();
        let name_bank = $("#name_bank").val();
        let stk = $("#stk").val();
        let name_bank1 = $("#name_bank1").val();
        let phones = url.split("/");
        let phone = phones[phones.length - 1];
        $.ajax({
            type: "POST",
            url: "/admin/manager/updateBank",
            data: {
                name_bank: name_bank,
                stk: stk,
                name_bank1: name_bank1,
                phone: phone,
            },
            dataType: "json",
            success: function (response) {
                if (response.status == true) {
                    Swal.fire(
                        'Sửa thành công!',
                        'You clicked the button!',
                        'success'
                    )
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đang rỗng hoặc không đúng định dạng',
                    })
                }
            }
        });
    });
</script>
<!-- F LIST -->
<script>
    const handleClick = (showList, hideList) => {
        for(let i = 0; i < showList.length;i++) {
            $(showList[i]).css('opacity', '1');
            $(showList[i]).css('position', 'relative');
        }
        for(let i = 0; i < hideList.length;i++) {
            $(hideList[i]).css('opacity', '0');
            $(hideList[i]).css('position', 'fixed');
        }
    }

    $('#f1').click(function(e) {
        handleClick(["#LF1", "#back-btn"], ["#LF2", "#LF3", "#LF4","#LF4","#LF5","#LF6","#LF7","#LF8","#LF9","#LF10", "#tables"]);
    })
    $('#f2').click(function(e) {
        handleClick(["#LF2", "#back-btn"], ["#LF1", "#LF3", "#LF4","#LF5","#LF6","#LF7","#LF8","#LF9","#LF10", "#tables"]);
    })
    $('#f3').click(function(e) {
        handleClick(["#LF3", "#back-btn"], ["#LF1", "#LF2", "#LF4","#LF5","#LF6","#LF7","#LF8","#LF9","#LF10", "#tables"]);
    })
    $('#f4').click(function(e) {
        handleClick(["#LF4", "#back-btn"], ["#LF1","#LF2","#LF3","#LF5","#LF6","#LF7","#LF8","#LF9","#LF10", "#tables"]);
    })
    $('#f5').click(function(e) {
        handleClick(["#LF5", "#back-btn"], ["#LF1","#LF2","#LF3","#LF4","#LF6","#LF7","#LF8","#LF9","#LF10", "#tables"]);
    })
    $('#f6').click(function(e) {
        handleClick(["#LF6", "#back-btn"], ["#LF1","#LF2","#LF3","#LF4","#LF5","#LF7","#LF8","#LF9","#LF10", "#tables"]);
    })
    $('#f7').click(function(e) {
        handleClick(["#LF7", "#back-btn"], ["#LF1","#LF2","#LF3","#LF4","#LF5","#LF6","#LF8","#LF9","#LF10", "#tables"]);
    })
    $('#f8').click(function(e) {
        handleClick(["#LF8", "#back-btn"], ["#LF1","#LF2","#LF3","#LF4","#LF5","#LF6","#LF7","#LF9","#LF10", "#tables"]);
    })
    $('#f9').click(function(e) {
        handleClick(["#LF9", "#back-btn"], ["#LF1","#LF2","#LF3","#LF4","#LF5","#LF6","#LF7","#LF8","#LF10", "#tables"]);
    })
    $('#f10').click(function(e) {
        handleClick(["#LF10", "#back-btn"], ["#LF1","#LF2","#LF3","#LF4","#LF5","#LF6","#LF7","#LF8","#LF9", "#tables"]);
    })
    $("#back-btn").click(function(e) {
        handleClick(["#tables"], ["#LF1", "#LF2", "#LF3", "#LF4","#LF5","#LF6","#LF7","#LF8","#LF9","#LF10", "#back-btn"]);
    })
</script>
</body>
</html>
